li {
  padding: 5px;
  margin: 5px;
  background: #faebd7;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}

img {
  max-width: 300px;
  height: auto;
  border: yellow solid 2px;

}

.columns {
  display: flex;
  justify-content: center;
}

.poop {
  opacity: 0%;
}

h1 {
  text-align: center;
  color: wheat;
}